footer.footer
  .footerUp
       a(href='index.html')
         .logo.logo2

       .groupSocial
           a(href='index.html')
               .groupSocial__instagram
                  i.fab.fa-instagram
           a(href='index.html')
               .groupSocial__vk
                  i.fab.fa-vk
           a(href='index.html')
               .groupSocial__fb
                  i.fab.fa-facebook-f

       .tel
           a(href='tel:+74996854023') 8 499 685 4023

       button.button.button-gray заказать

  .footerDown
       .footerDown__portfolio
           h4
               a(href='index.html') портфолио
           p
               a(href='index.html') работы
           p
               a(href='index.html') лендинги
           p
               a(href='index.html') интренет-магазины
           p
               a(href='index.html') корпоративные сайты
           p
               a(href='index.html') порталы
       .footerDown__cases
           h4
                a(href='index.html') кейсы
           p
                a(href='index.html') увеличение посетителей
           p
                a(href='index.html') увеличение конверсии
           p
                a(href='index.html') создание крупных порталов
       .footerDown__tariffs
           h4
                a(href='index.html') тарифы
           p
                a(href='index.html') лендинг
           p
                a(href='index.html') интренет-магазин
           p
                a(href='index.html') корпоративные сайт
           p
                a(href='index.html') портал
       .footerDown__about
           h4
                a(href='index.html') о нас
           p
                a(href='index.html') кто мы
           p
                a(href='index.html') как мы работаем
           p
                a(href='index.html') команда
           p
                a(href='index.html') вакансии
       .footerDown__contacts
           h4
                a(href='index.html') контакты
           p
                a(href='index.html') адрес офиса
           p
                a(href='index.html') контактная информация