footer.footer
  .footerUp
       a(href='index.html')
         .logo.logo2

       .groupSocial
           .groupSocial__instagram
              i.fas.fa-instagram
           .groupSocial__vk
              i.fas.fa-vk
           .groupSocial__fb
              i.fas.fa-fb


       .tel 8 499 685 4023

       button.button.button-gray заказать


  .footerDown
       .footerDown__portfolio
           h4 портфолио
           p работы
           p лендинги
           p интренет-магазины
           p корпоративные сайты
           p порталы
       .footerDown__cases
           h4 кейсы
           p увеличение посетителей
           p увеличение конверсии
           p создание крупных порталов
       .footerDown__tariffs
           h4 тарифы
           p лендинг
           p интренет-магазин
           p корпоративные сайт
           p портал
       .footerDown__about
           h4 о нас
           p кто мы
           p как мы работаем
           p команда
           p вакансии
       .footerDown__contacts
           h4 контакты
           p адрес офиса
           p контактная информация