header.header
    a(href='index.html')
      .logo
    nav.header__nav
            ul.header__nav_list
                li.li__out
                    a(href='#') портфолио
                li.li__out
                    a(href='#') кейсы
                li.li__out
                    a(href='#') тарифы
                li.li__out
                    a(href='#') о нас
                li.li__out
                    a(href='#') контакты

    .tel 8 499 685 4023

    button.button заказать

