@import 'vars'
footer
  display flex
  flex-direction column
  color subtext

  .footerUp
     display flex
     justify-content space-between
     align-items center
     background-color  #ffffff
     height 1.92rem
     padding 0 .2rem 0 .2rem
     a
       display block
       .logo.logo2
         width 3.39rem
         height .73rem
         background url("../../assets/logo.png") no-repeat
         cursor pointer
         margin-right .8rem
         @media (max-width 1280px)
           background-size 90%
     .groupSocial
        display flex
        justify-content center
        a
          &:hover
            color text
          .groupSocial__instagram, .groupSocial__vk, .groupSocial__fb
               width .64rem
               height .64rem
               border-radius 50%
               border 1px solid subtext
               display flex
               align-items center
               margin-right 0.1rem
               font-size 0.26rem
               text-align center
               .fab
                  margin auto
                  cursor pointer
  .footerDown
     display flex
     justify-content space-between