footer
  box-sizing border-box
  display flex
  min-height .08rem
  padding .01rem
  background burlywood

  a
    margin auto 0
    border-bottom 1px solid rgba(black, .33)

    &:focus, &:hover
      border-color black
