@import 'vars'
footer
  display flex
  flex-direction column
  color subtext
  .footerUp
     display flex
     justify-content space-between
     align-items center
     background-color  #ffffff
     height 1.92rem
     padding 0 .2rem 0 .2rem
     .groupSocial
        display flex
        justify-content center
        a
           margin-right 0.1rem

           &:hover
             color text
             .groupSocial__instagram, .groupSocial__vk, .groupSocial__fb
               width .64rem
               height .64rem
               border-radius 50%
               border 1px solid subtext
               display flex
               align-items center
               font-size 0.26rem
               text-align center
               .fab
                  margin auto
                  cursor pointer
     .tel
        font-size font-size-tel
        &:hover
           color text
  .footerDown
     display flex
     justify-content space-around
     padding .1rem
     h4
        text-transform uppercase
     h4, p
        a:hover
           color text