@font-face {
    font-family: 'Effra';
    src: url('EffraLight-Regular.eot');
    src: url('EffraLight-Regular.eot?#iefix') format('embedded-opentype'),
            url('EffraLight-Regular.woff2') format('woff2'),
            url('EffraLight-Regular.woff') format('woff'),
            url('EffraLight-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Effra';
    src: url('Effra-Regular.eot');
    src: url('Effra-Regular.eot?#iefix') format('embedded-opentype'),
            url('Effra-Regular.woff2') format('woff2'),
            url('Effra-Regular.woff') format('woff'),
            url('Effra-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Effra';
    src: url('Effra-Medium.eot');
    src: url('Effra-Medium.eot?#iefix') format('embedded-opentype'),
            url('Effra-Medium.woff2') format('woff2'),
            url('Effra-Medium.woff') format('woff'),
            url('Effra-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('SFUIDisplay-Regular.eot');
    src: url('SFUIDisplay-Regular.eot?#iefix') format('embedded-opentype'),
            url('SFUIDisplay-Regular.woff2') format('woff2'),
            url('SFUIDisplay-Regular.woff') format('woff'),
            url('SFUIDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility;
}
