@import 'vars'
.button
    border-radius: .12rem
    background: linear-gradient(0deg, gradient-button1 0%, gradient-button2 48%, gradient-button3 100%);
    width: 2.46rem
    height: .80rem
    color background
    font-size .26rem
.button-gray
    background: linear-gradient(0deg, gradient-2button1 0%, gradient-2button2 48%, gradient-2button3 100%);
.logo2
    width 3.39rem
    height .73rem
    background url("../../assets/logo.png") no-repeat
    cursor pointer
    opacity .5
    &:hover
       opacity 1
    @media (max-width 1380px)
        background-size 90%
