@import 'vars'
.button-gray
    border-radius: .12rem
    background: linear-gradient(0deg, gradient-2button1 0%, gradient-2button2 48%, gradient-2button3 100%);
    width: 2.46rem
    height: .80rem
    color background
    font-size .26rem
.logo2
    width 3.39rem
    height .73rem
    background url("../../assets/logo.png") no-repeat
    cursor pointer
