@import 'fonts'
font-family = 'Effra'
font-family2 = 'SF UI Display'

font-size-h1 = 1rem
font-size-h2 = .8rem
font-size-h3 = .6rem
font-size-tel = .28rem
font-size-placeholder = .38rem
font-size-button = .34rem
font-size-text = .16rem

text = #333
text = #333
subtext = #9299a2

color-title = #1f1f1f
color-subtitle = #95d313
color-h3 = #74a3c7

background = #fff
block-main = #f8f8f8
block-content = #f8f8f8

gradient-block = #e8e8e8

gradient-button1 = #81ca23
gradient-button2 = #95d313
gradient-button3 = #a9dc02

gradient-2button1 = #444d4e
gradient-2button2 = #545f60
gradient-2button3 = #6a7676

box-shadow = .03rem .05rem .094rem .006rem #dddfe0

m1 = 1rem
m08 = .8rem
m03 = .3rem
m01 = .1rem

